@import "~config/styles.scss";

:local(.component) {
  width: 100%;
  background-color: #FFB2AE;
  margin: 0 auto;
  border: 1px solid #c0c0c0;

  .header {
    height: 100vh;
    width: 100%;
    position: relative;
    img{
   margin: 33px;
    }
    .slick-dots {
      bottom: 565px;
    }

    #slide_show{
      width: 96%;
      margin: 0 auto;
      img{
        display: block;
        margin: 0 auto;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
     width: 80%;   

      }

      .slick-slider {
        margin-bottom: -566px;   
      }
    }

  .inscription {
    text-align: center;
    position: absolute;
    bottom: 6px;
    margin: 0 auto;
    width: 100%;
    line-height: 41px;

    a {
        cursor: pointer;
        font-weight: bold;
    }

    p {
      font-size: 18px;
      line-height: 21px;
    }

    h1 {
      color: aliceblue;
      font-size: 26px;
      border: 1px solid blue;
      background-color: blue;
      margin: 0 auto;
      width: 42%;
      border-radius: 15px;
    }
    h2 {
      color: aliceblue;
      font-size: 19px;
      border: 1px solid; 
      border-radius: 50px;
      width: 30%;
      margin: 0 auto;
      color: #962c39;
    }
  }
  #conditions {
    position: relative;
    margin-top: 50px;
  }
}
}